.location-details {
  text-align: center;
  font-size: 1.6rem;
  color: gray;

  &__location {
    font-size: 2.4rem;
    color: black;

    span {
      display: inline-block;
      vertical-align: middle;
      margin-right: 5px;
    }

    button {
      vertical-align: middle;
    }
  }
}
