<p-toast></p-toast>

<app-location-permission-dialog></app-location-permission-dialog>

<ng-container *ngIf="locationState$ | async as locationState">
  <ng-container *ngIf="weatherState$ | async as weatherState">
    <div class="container-fluid">
      <div class="row">
        <div class="col">
          <app-location-permission-status
            [hasPermission]="locationState.isLocationPermissionGranted"
          ></app-location-permission-status>
        </div>
      </div>

      <div class="row" *ngIf="locationState.loading; else doneLoadingLocation">
        <div class="col">
          <p-progressSpinner></p-progressSpinner>
        </div>
      </div>

      <ng-template #doneLoadingLocation>
        <div
          class="row"
          *ngIf="weatherState.loadingCurrent; else doneLoadingCurrent"
        >
          <div class="col">
            <p-progressSpinner></p-progressSpinner>
          </div>
        </div>

        <ng-template #doneLoadingCurrent>
          <div class="row">
            <div class="col">
              <app-location-details
                [locationName]="weatherState.locationName"
                [time]="weatherState.date"
                [weatherDescription]="weatherState.currentWeatherDescription"
                [hasLocationPermissions]="
                  locationState.isLocationPermissionGranted
                "
                (onRefreshLocation)="onRefreshLocation()"
              ></app-location-details>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <app-location-entry-form
                (onSubmit)="onZipCodeForSubmit($event)"
              ></app-location-entry-form>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <app-current-weather
                [icon]="weatherState.currentWeatherIcon"
                [temperature]="weatherState.currentTemperature"
                [precipitationProbability]="
                  weatherState.currentPrecipitationProbability
                "
                [humidityPercentage]="weatherState.currentHumidityPercentage"
                [windSpeed]="weatherState.currentWindSpeed"
              ></app-current-weather>
            </div>
          </div>
        </ng-template>

        <div
          class="row"
          *ngIf="weatherState.loadingOneCall; else doneLoadingOneCall"
        >
          <div class="col">
            <p-progressSpinner></p-progressSpinner>
          </div>
        </div>

        <ng-template #doneLoadingOneCall>
          <div class="row" *ngIf="weatherState.hourlyForecast">
            <div class="col">
              <app-weather-forecast-hour-chart
                [hourlyForecastList]="weatherState.hourlyForecast"
              ></app-weather-forecast-hour-chart>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <app-weather-forecast
                [weatherForDayList]="weatherState.dailyForecast"
              ></app-weather-forecast>
            </div>
          </div>
        </ng-template>
      </ng-template>
    </div>
  </ng-container>
</ng-container>
