/* You can add global styles to this file, and also import other style files */
html {
  font-size: 62.5%;
}

.p-inputtext.ng-touched.ng-invalid {
  border-color: #f44336;
}

.p-float-label > .ng-touched.ng-pristine + label {
  color: #f44336;
}

.p-button.p-button-lg .p-button-icon {
  font-size: 2rem;
}

.p-float-label,
.p-inputtext {
  font-size: 1.4rem;
}

.mar-b-10 {
  margin-bottom: 10px;
}

.mar-b-20 {
  margin-bottom: 20px;
}

.ta-c {
  text-align: center;
}
